.container {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: grab;
  user-select: none;
}

.inner-container {
  display: flex;
  gap: 20px;
  height: 100%;
  overflow-x: auto;
}

.item-wrapper {
  height: 100%;
  width: 400px;
  border-radius: 5px;
  flex-shrink: 0;
}

.item {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
