.container {
  width: 100%;
  height: 200px;
  cursor: grab;
  user-select: none;
  overflow: hidden;
}

.inner-container {
  display: flex;
  gap: 20px;
  height: 100%;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.inner-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.item-wrapper {
  height: 100%;
  flex: 0 0 auto; /* Allows items to take their natural width */
  border-radius: 5px;
}

.item {
  height: 100%;
  width: auto; /* Maintains aspect ratio */
  border-radius: 5px;
  object-fit: contain; /* Ensures images fit within the container without cropping */
  background-size: cover;
  background-position: center;
}
