.skeleton {
  height: 100%;
  width: 250px;
  /* width: 400px; */
  border-radius: 5px;
  background-color: #e0e0e0;
  flex-shrink: 0;
  animation: pulse 1.5s infinite;
}

.skeleton-image {
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
